<div>
    <a href="/">Inicio</a>
    <a href="/products?page=1">Productos</a></a>
    <a href="/profile">Perfil</a>
</div>
<br/>
<h1>Carrito</h1> 
<br/>
{{#if _id}}
    {{#each products}}
    <h2>{{this.productId.title}}</h2>
        <p>Precio: {{this.productId.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Código: {{this.productId.code}}</p>
        <p>Cateogría: {{this.productId.category}}</p>
        <p>{{this.productId.thumbnail}}</p>
        <br/>
    {{/each}}
{{else}}
    <p>Este carrito no existe</p>
{{/if}}

<script src="js/carts.js"></script>