<div>   

    {{#if _id}}
        <h1>Carrito</h1>
        {{#if products}}
            <h2>Lista de productos</h2>
            {{#each products}}
                <div>
                    <p>{{this.productId.title}}</p>
                    <li>id: {{this._id}}</li>
                    <li>Cantidad: {{this.quantity}}</li>
                    <li>Price: {{this.productId.price}}</li>
                </div>
            {{/each}}
        {{else}}
            No hay productos en el carrito
        {{/if}}
    {{else}}
        <p>El carrito no existe</p>
    {{/if}}

<script src="js/carts.js"></script>