<div>
    <div>
        <a href="/products?page=1">Productos</a></a>
        <a href="/profile">Perfil</a>
    </div>
    <p>
    <h1 class="title-color">Listado de productos</h1>
        <ul class="product-list">
            {{#each products}}
                <li>
                    Title: {{this.title}},
                    Description: {{this.description}},
                    Code: {{this.code}},
                    Price: {{this.price}},
                    Stock: {{this.stock}},
                    Category: {{this.category}},
                    Thumbnail: {{this.thumbnail}},
                    Id: {{this.id}},
                    Status: {{this.status}}
                </li>
            {{/each}}
        </ul>
    </p>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>
