<h1 class="title-color">Listado de productos</h1>
<div>
    <p>
 <ul>
    {{#each products}}
        <li>
            title: {{this.title}},
            description: {{this.description}},
            code: {{this.code}},
            price: {{this.price}},
            stock: {{this.stock}},
            category: {{this.category}},
            thumbnail: {{this.thumbnail}},
            id: {{this.id}},
            status: {{this.status}}
        </li>
    {{/each}}
</ul>
    </p>
</div>

<script scr="./public/js/home.js"></script>