<h1>Pagina perfil</h1>
<p>Bienvenido</p>
<hr>
<p>Nombre: {{first_name}}</p>
<p>Apellido: {{last_name}}</p>
<p>Correo: {{email}}</p>
<p>Edad: {{age}}</p>
<p>Tipo Perfil: {{profileType}}</p>
<hr>

<a href="/api/sessions/logout">Cerrar sesion</a>