<h1>Productos</h1>
<br/>
{{#if totalDocs}}
    
        
        {{#each payload}}
        <ul>
        <div>
            <div>
            <h3>{{this.title}}</h3>
            </div>
            <div>
            {{this.code}} - ${{this.price}} - {{this.stock}} - {{this.category}}
            </div>
            <button onclick="addToCart(`{{this.id}}`)">Agregar al carrito</button>
        </div>
        </ul>
            <hr>
        {{/each}}
    
    <div>
        {{#if hasPrevPage}}
            <a href={{prevLink}}>Anterior</a>
        {{/if}}

        {{page}}

        {{#if hasNextPage}}
            <a href={{nextLink}}>Siguiente</a>
        {{/if}}
    </div>
{{else}}
    <p>no hay productos</p>
{{/if}}

<script src="js/products.js"></script>