<div>
    <a href="/products?page=1">Productos</a>
    <a href="/profile">Perfil</a>

</div>
<br>
<h1>Lista de Productos</h1>
<br>
<button id="cart" onclick="redirectToCart()">Ver carrito</button>
<br>
{{#if totalDocs}}
    <div>
        {{#each payload}}
        <hr>
            <h2>{{this.title}}</h2>
        <ul>
            <a>Código: {{this.code}}</a>
            <br>
            <a>Precio: ${{this.price}}</a>
            <br>
            <a>Stock: {{this.stock}}</a>
            <br>
            <a>Categoría: {{this.category}}</a>
        </ul>
           
    </div>

    <button onclick="addToCart(`{{this.id}}`)">Agregar al carrito</button>
    {{/each}}
    
    <div>
        {{#if hasPrevPage}}
            <a href={{prevLink}}>Anterior</a>
        {{/if}}

        {{page}}

        {{#if hasNextPage}}
            <a href={{nextLink}}>Siguiente</a>
        {{/if}}
    </div>

{{else}}
    <p>no hay productos</p>
{{/if}}

<script src="js/products.js"></script>