<h1>Pagina perfil</h1>
<p>¡Bienvenido {{user.first_name}}!</p>
<hr>
<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Correo: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Tipo Perfil: {{user.profileType}}</p>
<hr>

<a href="/api/sessions/logout">Cerrar sesion</a>